apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "redis-console.fullname" . }}
  labels:
    {{- include "redis-console.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      {{- include "redis-console.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "redis-console.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "redis-console.serviceAccountName" . }}
      containers:
      - name: redis-console
        image: {{ include "redis-console.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        command:
          - /bin/sh
        stdin: true
        tty: true
        {{- with .Values.env }}
        env:
          {{- range $key, $value := . }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- if or (and .Values.config.create .Values.config.clusters) .Values.config.existingSecretName }}
        volumeMounts:
        - name: cluster-config
          mountPath: /etc/redis/clusters
          readOnly: true
        {{- end }}
      {{- if or (and .Values.config.create .Values.config.clusters) .Values.config.existingSecretName }}
      volumes:
      - name: cluster-config
        secret:
          secretName: {{ .Values.config.existingSecretName | default (printf "%s-config" (include "redis-console.fullname" .)) }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
